Flask==3.0.3
Werkzeug==3.0.6
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
python-dotenv==1.0.1
erniebot==0.5.8
PyJWT==2.8.0
flask_cors==6.0.0
flask_jwt_extended==4.6.0
flask_mail==0.10.0
flask_redis==0.4.0
gunicorn==23.0.0
requests==2.32.4
